body{
    background-color: rgb(180,198,231);    
    margin-left: 14%;
    margin-right: 8%;
    margin-bottom: 18%;

}
div{
    margin-top: 4%;
}
#personal-data-group{
    margin-top: 9%;
    text-align: center;
}
#email,#birthday,#linkedin{
    padding-top: -2px;
    margin-top: -15px;
}
#personal-data-group h1{
    font-weight: normal;
}
#personal-data-group a{
    text-decoration: none;
    color: black;
}
@media only screen and (min-width: 1200px){
    #personal-data-group p{
        font-size: 22px;
    }
    
}

#foto-perfil{
    width: 150px;
    border-color: black;
    border-width: 1.7px;
    border-style: solid;
    box-shadow: rgb(108,118,138) -5px 5px 3px 2px;
}
@media only screen and (max-width: 600px){
#professional-experience,#education,#knowledge,#languages,#additional-information{
    background-image: linear-gradient(rgb(210,210,210),rgb(193,193,193));
    padding: 3%;
    border-color:rgb(172,181,197);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}}

@media only screen and (min-width: 600px){
#professional-experience,#education,#knowledge,#languages,#additional-information{
    background-image: linear-gradient(rgb(210,210,210),rgb(193,193,193));
    padding: 3%;
    border-color:rgb(172,181,197);
    border-width: 2px;
    border-style: solid;
    border-radius: 36px;
}}


#professional-experience h5,#education h5,#knowledge h5,#languages h5,#additional-information h5{
    color: rgb(47,84,150);
    font-size: 16px;
    font-weight: bold;
    margin-top: -0px;
}

#professional-experience p,#education p,#knowledge p,#languages p,#additional-information p{
padding-left: 40px;
}

#professional-experience ul,#education ul,#knowledge ul,#languages ul,#additional-information ul{
    margin-top: -5px;
}

#professional-experience ul li{
    font-weight: bold;
}

#education ul li{
    font-weight: bold;
}
#education ol{
    padding-left: 40px;
    list-style-type: none;
}

h1{
    font-family:sans-serif;
}



@media only screen and (max-width: 600px){
    #languages table {
    border-collapse: collapse; /* CSS2 */  
    text-align: center;  
    width: 10%;
    margin-top: -4%;

}
}
@media only screen and (min-width: 600px){
    #languages table {
    border-collapse: collapse; /* CSS2 */  
    text-align: center;  
    width: 100%;
    margin-top: -4%;

}
}
#languages table thead{
    background-color: white;
    border-bottom: solid rgb(102,102,102) 2px;
}

.languages table tbody tr td{
    background-color: none;
}
.table-first-column{
    border-right: solid rgb(102,102,102) 1px;
    border-bottom: solid rgb(102,102,102) 1px;
}
.table-second-column{
    border-right: solid rgb(102,102,102) 1px;
    border-bottom: solid rgb(102,102,102) 1px;
}
.table-third-column{
    border-right: solid rgb(102,102,102) 1px;
    border-bottom: solid rgb(102,102,102) 1px;
}
.table-fourth-column {
    border-bottom: solid rgb(102,102,102) 1px;
}
